body {
    font-family: "Poppins", sans-serif;
    background: #1358ee;
    color: rgb(11, 11, 11);
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.container {
    max-width: 900px;
    margin: 20px auto 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.announcement-card {
    background: rgba(240, 240, 240, 0.5);
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#admin-panel {
    margin-top: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    display: none;
}

input,
textarea,
button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

button {
    background: #1976d2;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}

@media (max-width: 768px) {

    .navbar ul {
        display: block;
        text-align: center;
    }

    .navbar ul li {
        display: inline-block;
        margin-bottom: 10px;
    }

    .container {
        margin-top: 120px;
        padding: 15px;
    }

    .announcement-card {
        padding: 12px;
    }

    button {
        padding: 10px;
    }
}

header {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin: 5pxpx;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 10px rgba(141, 138, 138, 0.1);
}

header h1 {
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
}